head
  title RageFit
body
  div.container-fluid
    div.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          span.navbar-brand RageFit
    div.row
      div.col-lg-4(role="tabpanel")
        p
          a.btn.disabled.btn-lg(role="button") Rage points
            span.currentRage.badge 0
          a#addrage.btn.btn-danger.btn-lg
            span.glyphicon.glyphicon-plus
    div.row
      hr
    div.row
      div.col-lg-4(role="tabpanel")
        form.form-inline
          div.form-group
            label(for="selectLevel") Level
            select#selectLevel.form-control
              option(value="veryeasy") Very easy
              option(value="easy") Easy
              option(value="normal") Normal
              option(value="hard") Hard
              option(value="veryhard") Very hard
          div.form-group
            button.reduce.btn.btn-default(type="button") Push-ups
              span#pushups.badge 0
            button.reduce.btn.btn-default(type="button") Pull-ups
              span#pullups.badge 0
    div.row
      hr
    div.row
      div.col-lg-4(role="tabpanel")
        p RageFit - app to help you make yourself more mentally calm and physically strong.
        p During the day every time you get angry - press "+" to gain a Rage point
        p So in the evening you can burn down your Rage points with exercises!